<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.iconscout.com/icon/free/png-256/vuejs-3-1175070.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>ToDo App GC</title>
    <style>
        .line-through {
            text-decoration: line-through;
        }
        footer {
            width: 100%;
            text-align: center;
        }

    </style>
</head>

<body>
    <script src="https://unpkg.com/vue@3"></script>

    <section id="app" class="container">

        <h4 class="center-align">{{ titulo }}</h4>

        <div class="row">
            <div class="input-field col s10">
                <i class="material-icons prefix">event_note</i>
                <input v-model.trim="nuevaTarea" @keyup.enter="agregarTarea" id="tarea" type="text" autofocus autocomplete="off">
                <label class="active" for="tarea">Tarea</label>
            </div>

            <br>
            <button @click="agregarTarea" class="btn waves-effect waves-light"><i class="material-icons right">send</i></button>

        </div>

        <table class="highlight centered ">
            <thead>
                <tr>
                    <th>Tarea #</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="(todo,index) in todos" :key="index">
                    <td>
                        <label>
                            <input type="checkbox" class="filled-in" v-model="todo.listo" />
                            <span>{{index+1}}</span>
                          </label>
                    </td>
                    <td :class="{ 'line-through' : todo.listo === true}">{{todo.descripcion}}</td>
                    <td>
                        <a @click="editarTarea(index)" class="btn-floating btn-small blue darken-1 "><i class="material-icons">edit</i></a>&nbsp;
                        <a @click="eliminarTarea(index)" class="btn-floating btn-small red darken-1 "><i class="material-icons">delete</i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <ul class="collection">
            <li class="collection-item">
                Tareas completadas:<span class="new badge green">{{tareasListas}}</span>
            </li>
            <li class="collection-item">
                Tareas sin completar:<span class="new badge orange darken-4">{{tareasNoListas}}</span>
            </li>
        </ul>

    </section>

    <footer className="text-center mt-48 p-6 text-sm text-gray-500">
        <p>
          Made by
            <a href="https://github.com/zuiersadien/vuejs.git" target="_blank"> zuiersadien</a>
          | <a href="https://www.linkedin.com/in/evis-wilfredo-taco-kana-1b970b199/" target="_blank"> linkedin</a> 
        </p>
    </footer>


    <script>
        Vue.createApp({
            data() {
                return {
                    titulo: 'ToDo Vue3 GC',
                    todos: [
                        {
                            descripcion: 'Aprender Vue',
                            listo: true
                        },
                        {
                            descripcion: 'Comprar el pan',
                            listo: false
                        },
                        {
                            descripcion: 'Lavar los platos',
                            listo: true
                        }
                    ],
                    nuevaTarea: '',
                    editandoTarea: null,
                }
            },
            methods: {
                agregarTarea() {
                    if(this.editandoTarea != null){
                        this.todos[this.editandoTarea].descripcion = this.nuevaTarea;
                        this.editandoTarea = null;
                    }else{
                        this.todos.push({
                            descripcion: this.nuevaTarea,
                            listo: false
                        });
                    }

                    this.nuevaTarea = '';
                },
                eliminarTarea(index) {
                    this.todos.splice(index, 1);
                },
                editarTarea(index){
                    this.nuevaTarea = this.todos[index].descripcion;
                    this.editandoTarea = index;
                }

            },
            computed:{
                tareasListas(){
                    return this.todos.filter(todo => todo.listo === true).length;
                },
                tareasNoListas(){
                    return this.todos.filter(todo => todo.listo === false).length;
                }
            }
        }).mount('#app')
    </script>
</body>
</html>